@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scrollbar-color: #6b21a8;
}

body {
    background-color: #1a1a2e;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}